.tab__item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab__item > p {
    margin: 0;
}

.tab__item:hover, .tab__item__selected {
    background-color: black;
    color: white;
}

.item__left {
    border-radius: 20px 0 0 20px;
}

.item__right {
    border-radius: 0 20px 20px 0;
}