.rurl__container {
    width: 300px;
    height: 50px;
    margin: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.__mb20 {
    margin-bottom: 20px;
}

.__mt20 {
    margin-top: 20px;
}

.coppied__disclaimer {
    width: 100%;
}