@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');

body {
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background.gif);
  height: 100vh;
}

code {
  font-family: 'Kodchasan', sans-serif;
}

#root {
  height: 100%;
}

/* FONTS */

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

button > span {
  color: white;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none !important;
}

/* COLORS */